name: CI

on:
  push:
    branches: [ main, desarrollo ]
  pull_request:
    branches: [ main, desarrollo ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        dotnet-version: [ '8.0.x' ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - run: dotnet restore
      - run: dotnet build --configuration Release
      - run: dotnet test tests/InventarioApp.Tests/InventarioApp.Tests.csproj --configuration Release
